<!-- HTML header -->
<%- include("./partials/__header") %>

<!-- navbar component -->
<%- include('./partials/__navbar', {page: "about"}) %> 

    <div class="container">
        <h1>درباره ما</h2>
    </div>

<%- include("./partials/__footer") %>