<!-- HTML header -->
<%- include("./partials/header") %>

    <div class="container text-capitalize">
        <div class="row justify-content-center align-items-center ">

            <!-- filter component -->
            <%- include("./partials/filter") %>

            <!-- add new card button -->
            <div id="new-button" class="btn fs-1 text-right w-5" data-bs-toggle="modal"
                data-bs-target="#more-info-modal">
                &plus;
            </div>

        </div>
        
        <!-- main section of page -->
        <main class="row gx-sm-3 gx-md-5">

            <!-- card rendering -->
            <% companies.forEach(company=> {%>
             
            <% }) %>

        </main>
        <!-- modal -->
        <%- include("./partials/modal") %>             
    </div>

<%- include("./partials/footer") %>