<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
    <link rel="favorite icon" href="https://cdn.iconscout.com/icon/premium/png-64-thumb/company-2819606-2341242.png"
        type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/dist/style.css">

</head>
<body class="body__employee">
    
<!-- navbar component -->
<%- include('./partials/__navbar', {page: "employee"}) %> 


    <div class="container text-capitalize">
        <div class="row justify-content-center align-items-center ">

           <!-- add new card button -->
            <div id="new-button" class="btn fs-1 text-right w-5" data-bs-toggle="modal"
                data-bs-target="#more-info-modal">
                &plus;
            </div>

        </div>
        
        <!-- main section of page -->
        <main class="row justify-content-center gx-sm-3 gx-md-5">

            <!-- card rendering -->
            <div class=" card col-md-50  mb-2 px-4 py-3">
                <div class="row align-items-center">
                    
                    <!-- avatar -->
                    <div class="col-md-3 avatar "><img class="card__avatar d-block rounded rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQEZrATmgHOi5ls0YCCQBTkocia_atSw0X-Q&usqp=CAU" alt="avatar"></div>
                    
                    <!-- section  -->
                    <div class="col-md-3">
                        <!-- full name -->
                        <p class="fw-bold">fullname:</p>
                        
                        <!-- birthday -->
                        <p class="text-muted">birthday:</p>
                    </div>
                    
                    <!-- section  -->
                    <div class="col-md-3">
                        <!-- gender -->
                        <p class="fw-bold">gender:</p>

                        <!-- company -->
                        <p class="text-muted">company:</p>
                    </div>
                    
                    <!-- edit section  -->
                    <div class="col-md-3 d-flex justify-content-center">

                            <!-- edit button -->
                            <icon id="edit-employee" class="bi bi-pencil p-2 fs-3 border-end"></icon>

                            <!-- delete button -->
                            <icon id="delete-employee" class="bi bi-trash2 p-2 fs-3"></icon>

                    </div>
                </div>
            </div>
        </main>

        <!-- modal -->
        <%- include("./partials/__modal") %>             
    </div>

<%- include("./partials/__footer") %>