@import url("/css/bootstrap-icons.css");
@import url("http://cdn.persianfort.ir/Fonts/iransans/iransans.css");

a {
    color: black;
}

// navigation styles
nav {
    &:hover {
        box-shadow: 0px 0px 15px gray;
        transition: all 250ms linear;
    }
    
    .navbar-brand {
        padding: 0;
        font-size: 1.5rem;
        color: #7B7778 !important;
        font-family: monospace;
        width: 300px;
        
        &::first-letter {
            color: black !important;
            font-size: 2rem;
            
        }
        
        &:hover {
            color: #968561 !important;
            text-shadow: 0 2px 2px #74654B;
            font-weight: 900;
            font-family: cursive;
            transition: all .2s steps(20);

            &::first-letter {
                color: #4B505A !important;
            }
        }
    }

    .nav-item {
        
        margin-left: 10px;
        
        &:hover {
            
            .nav-link,
            span {
                transition: all 200ms linear;
                color: #968561 !important;
                text-shadow: 0 0 1px black;
            }
        }
        
        span.bi {
            // margin-top: 10px;
            display: inline-block !important;
            font-size: 1.3rem;
        }

        .nav-link {
            display: inline-block;
        }
    }
}

#new-button {
    color: #74654B !important;

    &:hover {
        color: black !important;
    }
}

// ================ card styles
.card {
    width: 90%;
    border-radius: 10px;

    p {
        margin-bottom: .3rem;
    }

    img {
        border-radius: 10px 10px 0 0;
        height: 250px !important;
    }

    .btn-more {
        width: 45%;
        margin-left: auto;
        border-radius: 8px;
        display: block;
        background: #74654B !important;

        &:hover {
            color: #968561 !important;
            text-shadow: 0 2px 1px #968561;
            font-weight: 500;
            background-color: white !important;
        }
    }

    #delete-button {
        color: red;

        &:hover {
            color: orange;
            text-shadow: 0 1px 3px red;
            cursor: pointer;
        }
    }
}

.product-page-wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

// ============== modal styles
.modal {
    border-radius: 10px;

    .card {
        img {
            background-size: cover;
            // width: 100% !important;
            // height: 250px !important;
            border-radius: 5px;
        }

        span {
            font-weight: 300;
            color: whitesmoke;
        }
    }
}

.modal-header {
    padding-bottom: 0;
}

.modal-content {
    background: #74654B;
    color: white;

    div {
        border: none;
    }

    #delete-button,
    .modal-header button {
        color: red !important;

        &:hover {
            color: orange !important;
            text-shadow: 0px 0px 8px red !important;
        }
    }

    #save-button,
    #update-button,
    #cancel-button {
        color: white !important;

        &:hover {
            color: black !important;
        }
    }

    // #save-button {
    //     &:hover {
    //         color: white !important;
    //     }
    // }

    // #update-button {
    //     &:hover {
    //         color: white !important;
    //     }
    // }
    #cancel-button {
        &:hover {
            color: white !important;
        }
    }
}


#delete-user[data-bs-dismiss=modal] {

    color: black !important;

    &:hover {

        color: black !important;
    }
}