<div class=" card col-md-50  mb-2 px-4 py-3 position-relative">

    <% if(employee.manager === true) { %> 
        <!-- manager mark -->
        <div class="card__manager-mark position-absolute top-0 start-0 d-inline col-md-1">manager</div>
    <% } %> 
    
    <div class="row align-items-center ">
        <!-- avatar -->
        <div class="col-md-3 avatar "><img class="card__avatar d-block rounded rounded-circle"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQEZrATmgHOi5ls0YCCQBTkocia_atSw0X-Q&usqp=CAU"
                alt="avatar"></div>

        <!-- section  -->
        <div class="col-md-3">
            <!-- full name -->
            <p class="fw-bold"><%= employee.firstName + " " + employee.lastName %> </p>

            <!-- birthday -->
            <p class="text-muted">birthday: 
                <% let birthday = new Date(employee.birthday) %>
                <%= birthday.getFullYear()%> 
            </p>
        </div>

        <!-- section  -->
        <div class="col-md-3">
            <!-- gender -->
            <p class="fw-bold"><%= employee.gender %> </p>

            <!-- company -->
            <p class="text-muted">company: <%= employee.company.name %> </p>
        </div>

        <!-- edit section  -->
        <div class="col-md-3 d-flex justify-content-center">

            <!-- edit button -->
            <icon id="edit-employee" class="bi bi-pencil p-2 fs-4 border-end"></icon>

            <!-- delete button -->
            <icon id="delete-employee" class="bi bi-trash2 p-2 fs-4"></icon>

        </div>
    </div>
</div>